<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>CFBundleDisplayName</key><string>Chat Perdu</string><key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string><key>CFBundleVersion</key><string>$(FLUTTER_BUILD_NUMBER)</string><key>CFBundleShortVersionString</key><string>$(FLUTTER_BUILD_NAME)</string><key>GADApplicationIdentifier</key><string>ca-app-pub-3940256099942544~1458002511</string><key>NSPhotoLibraryUsageDescription</key><string>Ajouter une photo au signalement de votre chat.</string><key>NSLocationWhenInUseUsageDescription</key><string>Positionner le dernier lieu où le chat a été vu.</string></dict></plist>
